{% extends "layout.html" %}
{% block title %}Manage Ratings{% endblock %}

<!-- content -->
{% block content %}
{% from "_table_helper.html" import render_table %}
{% from "sort_filter.html" import sort_filter %}
{% set view = "netflixdata.view" %}

<div class="container-fluid">
    <div class="h1 text-center">Manage Ratings</div>
    <form method="GET">
        <div class="row">

            <div class="col">
                <label class="visually-hidden" for="watchlist_id">watchlist_id</label>
                <input type="text" class="form-control" id="watchlist_id" name="watchlist_id"
                       placeholder="watchlist_id" value="{{ request.args.get('watchlist_id') or ''}}">
            </div>

            <div class="col">
                <label class="visually-hidden" for="title">title</label>
                <input type="text" class="form-control" id="title" name="title"
                       placeholder="title" value="{{ request.args.get('title') or ''}}">
            </div>

            <div class="col">
                <label class="visually-hidden" for="total_ratings">total_ratings</label>
                <input type="text" class="form-control" id="total_ratings" name="total_ratings"
                       placeholder="total_ratings" value="{{ request.args.get('total_ratings') or ''}}">
            </div>

            <!-- sort filter -->
            {{ sort_filter(cols=[
                ("watchlist_id", "Watchlist ID"),
                ("title", "Title"),
                ("modified", "Modified"),
                ("created", "Created")
            ]) }}            

            <!--limit filter-->
            <div class="col">
                <label class="form-label visually-hidden" for="limit">Limit</label>
                <input class="form-control" type="number" min="1" max="100" id="limit" name="limit"
                    value="{{request.args.get('limit') or '10'}}" />
            </div>
            <div class="col">
                <input type="submit" class="btn btn-danger" value="Filter" />
            </div>
            <div class="col">
                <a href="?" class="btn btn-secondary">Reset</a>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table">
            {% if rows and rows|length > 0 %}
            <thead>
                <tr class="text-capitalize">
                    {# generate th tags for each column to display #}
                    {# don't show any id or organization_id columns #}
                    {# IMPORTANT use table column names as the headings, replace _ with space via filter #}
                    <!-- add th elements -->
                    {% for r in rows[0] %}
                    {% if r == 'title' %}
                        <th>Title</th>
                    {% elif r not in ['modified', 'created'] %}
                        <th>{{ r }}</th>
                    {% endif %}
                    {% endfor %}
                    <!-- keep this -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- iterate over rows and generate proper tr and td elements with the data -->
                {% for r in rows %}
                <tr>
                    {% for key,value in r.items() %}
                        {% if key not in ['modified', 'created'] %}
                            <td>{{value}}</td> 
                        {% endif %}
                    {% endfor %}   
                    <td>
                        <a href="{{ url_for('netflixdata.view_by_title', watchlist_id=r.get('watchlist_id')) }}" class="btn btn-secondary btn-sm">All Ratings</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td colspan="100%">No results to show</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
    </div>

</div>
{% endblock %}